* {
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}
html{
    overflow-x: hidden;
    overflow-y: scroll;
}
.relative{
    position: relative;
}
.clearfix {
    overflow: auto;
}

.education-entry, .work-entry, .project-entry {
    padding-left: 5%;
    padding-right: 5%;
}

.x.axis path{
    display: none;
}
h1 {
    font-size: 40px;
    color: #F5A623;
    line-height: 48px;
    display: inline;
}
#name{
    animation: heading 2s infinite ;
    font-weight: 300;
}
.wheatcolorspan {
    color:wheat;
}

@keyframes heading  {
    0% {
        text-shadow: 2px 0px 0px #F5A623;
    }
    50% {
        text-shadow: 1px 1px 6px #F5A623;
    }
    100% {
        text-shadow: 0px 2px 8px #F5A623;
    }
}

h2 {
    font-weight: bold;
    font-size: 24px;
    color: #999999;
    line-height: 29px;
    padding: 10px;
}

h3 {
    font-style: inherit;
    font-size: 20px;
    color:#555252;
    line-height: 22px;
}

h4 {
    font-weight: bold;
    font-size: 14px;
    color: #4A4A4A;
    line-height: 17px;
}

h2, h3, h4, h5 {
    padding:10px;
    padding-left: 5%;
    padding-right: 5%;
}


.date-text {
    font-style: italic;
    font-size: 14px;
    color: #999999;
    line-height: 16px;
    float: left;
}

.location-text {
    font-style: italic;
    font-size: 14px;
    color: #999999;
    line-height: 16px;
    float: right;
    padding-right: 5%;

}

p {
    font-size: 14px;
    color: #333333;
    line-height: 21px;
}

a {
    color: #1199C3;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}

.welcome-message {
    font-style: italic;
    font-size: 18px;
    color: #F3F3F3;
    line-height: 28px;
}

#skillsH3 {
    color: #F5AE23;
    display: none;
}

.orange {
    background-color: #F5AE23;
}

.orange-text {
    color: #F5AE23;
}

.white-text {
    font-weight: 300;
    color: #FFFFFF;

}

.gray {
    background-color: #F3F3F3;
    padding-bottom: 10px;
    padding: 2% 0% 3% 0%;
    clear:both;
}

.dark-gray {
    background-color: #4A4A4A;
}

/* TODO: Replace with image later */
#header {
    background: linear-gradient(to left, rgb(120, 2, 6), rgb(6, 17, 97));
    background-color:rgb(120, 2, 6);
    animation: backgroundanimation 5s ease-in-out infinite;
}

@keyframes backgroundanimation {
    0% {
        background: linear-gradient(to top left, rgb(120, 2, 6), rgb(6, 17, 97));
    }
    25% {
        background: linear-gradient(to bottom left, rgb(120, 2, 6), rgb(6, 17, 97));
    }
    50% {
        background: linear-gradient(to bottom right, rgb(120, 2, 6), rgb(6, 17, 97));
    }
    100% {
        background: linear-gradient(to top right, rgb(120, 2, 6), rgb(6, 17, 97));
    }
}

.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.center-content {
    padding-top: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%
}

ul {
    list-style-type: none;
}

.biopic {
    float: left;
    padding: 10px;
    width: 150px;
    display: none;
}

img {
    padding: 10px;
}

/* Bar chart stuff */
.chart div {
    font: 10px sans-serif;
    background-color: #4A4A4A;
    text-align: right;
    padding: 3px;
    margin: 1px;
    height: 12px;
    color: white;
    display: inline-block;
}

span {
    padding: 5px;
}
.hrcss{
    padding: 1%;
    padding-left: 4%;
}

#letsConnect {
    text-align: center;
}
.circle-1{
    width: 160px;
    border: 1px solid black;
    height: 160px;
    position: absolute;
    top: 4px;
    left: 4px;
    border-color: transparent;
    border-left: 2px solid #F5A623;
    border-right: 2px solid #F5A623;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 1s transform ease;
    opacity:0;
}
.circle-2 {
    width: 170px;
    border: 1px solid black;
    height: 170px;
    position: absolute;
    top: -1px;
    left: -1px;
    border-color: transparent;
    border-top: 2px solid #F5A623;
    border-left: 2px solid #F5A623;
    border-right: 2px solid #F5A623;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 1s transform ease;
    opacity: 0;
}

.relative:hover .circle-1{
    transform: rotate(30deg);
}
.relative:hover .circle-2{
    transform: rotate(205deg);
}
@media only screen and (max-width: 1024px) {
    #letsConnect {
        margin-top: 5%;
    }

}

@media only screen and (max-width:900px) {
    .biopic {
        width: 150px;
    }
}

@media only screen and (max-width: 750px) {
    #letsConnect {
        margin-top: 10%;
    }
    .biopic {
        width: 150px;
    }
    .welcome-message {
        display: none;
    }

}

#map {
    display: block;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

#mapDiv {
    height: 400px;
    width: 100%;
    padding-bottom: 5%;
}
.link{
    display: inline;
    color:white;
}
.link:hover{
    text-decoration:underline;
}

@media only screen and (min-width: 750px) {
    #skillsH3,
    .biopic {

        display: block;
    }
    .circle-1,.circle-2{
        opacity: 1;
    }
    .flex-box{
        flex-direction: row;
    }


}

.move-to-right{
    padding-top:0.2%;
    padding-left:4%;
    padding-right: 0.5%;
    padding-bottom: 0%;
}
.no-padding-right{
    padding-right: 0%;
}

*{
    font-family: 'Roboto Slab', serif;
}
#nav-bar {
    margin-top: 6%;
}
#nav-menu {
    padding: 0;
    position: relative;
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
#navemenu li {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: white;
    padding: 0;
    border: none;
}
.sum-entry {
    padding-bottom: 10px;
}
a.nav-item {
    color: white;
    height: auto;
    padding: 10px 20px;
    margin-top: 0px;
    display: block;
    text-decoration: none;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    white-space: nowrap;
    font-weight: 600;
}
a.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
a.nav-item:focus {
    background-color: rgba(255, 255, 255, 0.3);
    outline: 0;
}
a.nav-item:active {
    background-color: rgba(255, 255, 255, 0.4);
}
.fixed-nav {
    position:fixed;
    top: 0;
}
.expand-header {
    margin-bottom: 30px;
}

.chart {
    /*margin-left: 5%; */
    width: 95%;
    height: auto;
}
.bar {
    fill: #9E3901;
}

.bar:hover {
    fill: tomato;
}

.bar text {
    fill: white;
    font: 16px sans-serif;
    test-anchor: end;
}

.axis text {
    font: 16px sans-serif;
    fill: darkred;
}

.axis path,
.axis line {
    fill: none;
    stroke: #ff0038;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}
.picstyle{
    box-shadow: inset 0px 0px 20px #f5ae23, 0px 0px 10px #f5a623;
    border-radius: 50%;
}
#projects{
    padding-bottom: 3%;
}

